<!-- <app-jumbotron [Title]="'Articoli disponibili'" [SubTitle]="'Alimentari'"></app-jumbotron>

<section class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h3 class="page-title">Risultati Ricerca: <small>Trovati {{numberOfArticles}} Articoli</small></h3>
    </div>
    <div class="col-md-6 col-sm-6">
      <a href="" style="margin-left: 20px;" class="btn btn-success float-right">Nuovo Articolo</a>
    </div>
    <table id="articoli" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>CodArt</th>
          <th>Descrizione</th>
          <th>Um</th>
          <th>Pezzi</th>
          <th>Peso(KG/LT)</th>
          <th>Prezzo</th>
          <th>Attivo</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles | paginate: {itemsPerPage: articlesPerPage, currentPage: page}">
            <td>{{article.articleId}}</td>
            <td class="text-left">{{article.descrizione}}</td>
            <td>{{article.um}}</td>
            <td>{{article.pzCart}}</td>
            <td>{{article.pesoNetto}}</td>
            <td class="text-right">{{article.prezzo | currency:'EUR'}}</td>
            <td>{{article.isActive}}</td>
            <td>{{article.dataCreazione | date}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange) = "page = $event"  previousLabel = "Precedente" nextLabel = "Successivo"></pagination-controls>
  </div>
</section> -->


<app-jumbotron [Title]="'Ricerca Articoli'" [SubTitle]="'Ricerca gli articoli per descrizione o codice'" [Show]="false"></app-jumbotron>

<section class="container">
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-5">
              <h2>Risultati Ricerca: <small>Trovati {{numberOfArticles}} Articoli</small></h2>
            </div>
            <div class="col-sm-7">
              <button style="margin-left: 20px;" class="btn btn-success float-right">Nuovo Articolo</button>
            </div>
        </div>
    </div>
    <div class="table-filter">
      	<div class="row">
            <div class="col-sm-3">
                <div class="show-entries">
                  <span>Mostra</span>
                  <select class="form-control">
                      <option>10</option>
                      <option>15</option>
                      <option>20</option>
                      <option>50</option>
                  </select>
                  <span>righe</span>
                </div>
            </div>
            <div class="col-sm-9">
              <div>
                <button type="button" (click) = "getArticles(filter)" class="btn btn-primary"><i><span class="oi oi-magnifying-glass"></span></i></button>
                <div class="filter-group">
                    <label>Filtro: </label>
                    <input type="text" class="form-control" [(ngModel)] = "filter">
                    <!-- <h1>{{filter}}</h1> -->
                </div>
              </div>

              <div>
                <button type="button" (click) = "getArticleByArticleId(articleId)" class="btn btn-primary"><i><span class="oi oi-magnifying-glass"></span></i></button>
                <div class="filter-group">
                    <label>ArticleId: </label>
                    <input type="text" class="form-control" [(ngModel)] = "articleId">
                    <!-- <h1>{{filter}}</h1> -->
                </div>
              </div>

            </div>
        </div>
    </div>

    <p *ngIf="!articles"><em>Loading...</em></p>

    <div [hidden]="!articles">
      <div class="alert alert-success" *ngIf="apiMessage">
        {{apiMessage.message}}
      </div>
      <table id="articoli" class="table table-striped table-bordered table-hover" >
        <thead>
          <tr>
            <th>CodArt</th>
            <th>Descrizione</th>
            <th>Um</th>
            <th>Pezzi</th>
            <th>Peso(KG/LT)</th>
            <th>Prezzo</th>
            <th>Attivo</th>
            <th>Data</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of articles | paginate: {itemsPerPage: articlesPerPage, currentPage: page}">
              <td>{{article.articleId}}</td>
              <td class="text-left">{{article.descrizione}}</td>
              <td>{{article.um}}</td>
              <td>{{article.pzCart}}</td>
              <td>{{article.pesoNetto}}</td>
              <td class="text-right">{{article.prezzo | currency:'EUR'}}</td>
              <td>{{article.isActive}}</td>
              <td>{{article.dataCreazione | date}}</td>
              <td>
                <button (click)="updateArticleByArticleId(article.articleId)" class="btn btn-warning table-buttons">
                <span class="oi oi-pencil"></span> Modifica</button>
            </td>
            <td>
                <button (click)="deleteArticlebyArticleId(article.articleId)" class="btn btn-danger table-buttons">
                <span class="oi oi-trash"></span> Elimina</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="clearfix">
        <pagination-controls
        (pageChange)="page = $event"
        previousLabel="Precedente"
        nextLabel="Successivo">
        </pagination-controls>
      </div>
    </div>
</div>
</section>
