<app-jumbotron [Title]="'Articoli disponibili'" [SubTitle]="'Alimentari'"></app-jumbotron>

<table id="articoli" border="1">
  <thead>
    <tr>
      <th>Codart</th>
      <th>Descrizione</th>
      <th>Um</th>
      <th>Pezzi</th>
      <th>Peso</th>
      <th>Prezzo</th>
      <th>Attivo</th>
      <th>Data</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor='let item of items'>
      <td>{{item.codart}}</td>
      <td>{{item.descrizione}}</td>
      <td>{{item.um}}</td>
      <td>{{item.pzcart}}</td>
      <td>{{item.peso}}</td>
      <td>{{item.prezzo}}</td>
      <td>{{item.isActive}}</td>
      <td>{{item.date | date}}</td>
    </tr>
  </tbody>
</table>
